# Project
/prj/*
!/prj/*.xpr

# Board design
/bd/*/hw_handoff/
/bd/*/ipshared/
/bd/*/sim/
/bd/*/synth/
/bd/*/ui/
/bd/*/*.xdc

# IP files for Board design
/bd/*/ip/*/*
!/bd/*/ip/*/*.xci
!/bd/*/ip/*/*.xml
!/bd/*/ip/*/*.mem
!/bd/*/ip/*/*.bif
/bd/*/ip/*/*_parameters.xml